@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font-family: 'Open Sans', sans-serif;

html, body{
  overflow: scroll;
}

.modal{
  position: relative;
  top: 80px;
}

.main-modal{
  justify-content: space-between;
  align-items: flex-start;
  border: 1px #9bc53d solid;
  font-family: $font-family;
  font-size: 18px;
  // color: white;
  // background-color: #9bc53d;

  & div{
    width: 100%;
  }

  & div:not([class$="-tg"]){
    height: 70px;
    margin: 0;
    padding-left: 30px;
    // border-bottom: 1px white solid;

    & span, a{
      height: 70px;
      line-height: 70px;
    }
  }
}

